h1 {
    color: red;
    text-align: center;
 }

    #cabecalho{
        background-color: blue;
        background-image: url("../img/image-01-banner.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-size: cover;
    }

 .link {
    border: 2px solid rgb(255, 0, 0);
    display: inline-block;
    margin: 0 2%;
    background-color: rgba(251, 3, 3, 0.215);
    padding: 5px 5px;
    width: 15%;
    transition: all 0.4s ease-out;

    &:hover{
        background-color: rgba(238, 6, 6, 0.576);
    }

    /*Nasting elements */
a {
    display: inline-block;
    text-decoration: none;
    color: black;
        
        
    img{
      display: inline-block;
      width: 25%;
        }

    }

 }

 #menu {
    list-style-type: none;
    text-align: center;
 }